{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/ists'>
    <fieldset>
    <legend>New Meeting</legend>
    <!-- TITLE -->
    <p>
        <label for='name'>name</label><br>
        <input type='text' name='name' />
    </p>
    <p>
        <label for='age'>age</label><br>
        <input type='text' name='age' />
    </p>
    <p>
        <label for='image'>image</label><br>
        <input type='text' name='image' />
    </p>
    <p>
        <label for='date'>date</label><br>
        <input type='text' name='date' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Client</button>
    </p>
</form>
{% endblock %}