<nav class='navbar bg-black navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand text-light' href='/'>
                <img src="{{ url_for('static', filename='ISTMAZE2.gif') }}" class= 'icon-size' > IST VISUALIZER
            </a>

        </div>
        <div class='pull-right'>
            <a href='/ists/new' class='btn btn-default text-light navbar-btn'>NEW CLIENT</a>
            <a href='/ists/session' class='btn btn-default  text-light navbar-btn'>NEW SESSION</a>
        </div>
    </div>
</nav>