{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/ists'>
    <fieldset>
        <legend>New Client</legend>
        <!-- TITLE -->
        <p>
            <label for='name'>Name</label><br>
            <input type='text' name='name' />
        </p>
        <p>
            <label for='age'>Age</label><br>
            <input type='text' name='age' />
        </p>
        <p>
            <label for='image'>image</label><br>
            <input type='text' name='image' />
        </p>
        <p>
            <label for='date'>Date</label><br>
            <input type='text' name='date' />
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Client</button>
    </p>
</form>
{% endblock %}